.active {
    font-weight: bold;
}

.select-category {
    cursor: pointer;
    height: 50px;
    font-size: 18px;
    height: 50px;
    margin-bottom: 5px;
    border-radius: 10px;
}

.select-category:hover {
    background: #f0f2f5;
    color: #49498e !important;
}