.question-wrapper {
  font-size: 16px;
}
.question-title {
  font-weight: 700;
}
.answer{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px
}
.answer input[type="radio"]{
    margin: 5px;
}
.answer label{
  display: flex;
}
.answer label:hover{
  cursor: pointer;
}