@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Courgette&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* color: #fff; */
}

body {
  background: #f9f9f9;
}

button {
  font-size: 16px;
  padding: 5px;
  border-radius: 5px;
}

@media (min-width: 1400px) {
  .container {
    max-width: 1140px !important;
  }
}

.loading {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.red-btn {
  color: #fff;
  background: red;
}

.modal-content {
  width: 500px;
  align-items: center;
  height: max-content;
  text-align: center;
}

.modal-content svg {
  margin: 20px 0px;
}

.center-item {
  display: flex;
  justify-content: center;
  text-align: center;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #c7ecee;
  border-radius: 100rem;

}
::-webkit-scrollbar-thumb:hover {
  background: #7ed6df;
}

.shadow{
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}