@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Courgette&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* color: #fff; */
}

body {
  /* background-image: url("../public/images/bg-1.jpg");
background-repeat: no-repeat;
background-size: cover; */
  /* background: #010409; */
}

button {
  font-size: 16px;
  padding: 5px;
  border-radius: 5px;
}

@media (min-width: 1400px) {
  .container {
    max-width: 1140px !important;
  }
}

.loading {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.red-btn {
  color: #fff;
  background: red;
}

.modal-content {
  width: 500px;
  align-items: center;
  height: max-content;
  text-align: center;
}

.modal-content svg {
  margin: 20px 0px;
}



.center-item {
  display: flex;
  justify-content: center;
  text-align: center;
}