.register-login-page {
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
}
.register-content {
  background-color: transparent;
  box-shadow: 0px 0px 20px 15px #dddddd6b;
  height: max-content;

  border-radius: 10px;
  overflow: hidden;
  color: #fff;
}
.register-img {
  padding: 0px;
}
.register-img img {
  width: 100%;
  height: auto;
  min-height: 550px;
}
.register-form {
  background: #111111;
  padding: 30px;
}
/* .form-input {
  margin-bottom: 5px;
} */
.form-input input[type="text"],
.form-input input[type="password"] {
  background-color: #111111;
  border: none;
  border-bottom: 1px solid #333333;
  font-size: 16px;
  line-height: 40px;
  width: 100%;
  color: #fff;
  padding: 0px 10px;
}
.form-input span {
  color: red;
  padding: 10px;
  font-size: 12px;
  line-height: 20px;
  /* display: none; */
}
.form-input svg {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.register-form button {
  width: 100%;
  font-size: 16px;
  padding: 5px;
  border-radius: 5px;
  background-color: #238636;

  margin-top: 30px;
}
.register-form h2 {
  margin-bottom: 20px;
}

.loading-layout {
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  color: black;
  background-color: rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}
.navigate {
  text-align: center;
  font-size: 14px;
}
.navigate span {
  cursor: pointer;
  font-weight: bold;
  text-decoration: underline;
}
.navigate span:hover {
  color: green;
}

/* `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 1199.98px) {
  .register-img {
    display: none;
  }
  .register-content {
    box-shadow: none;
  }
}
